<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>

    <div class="container">
		<div id="ellipse_blue">
            <h2 style="margin-top:100px;">flegue</h2>
        	  <h1 style="margin-top:10px;">¡Bienvenido!</h1>
            </div>
    </div>

<div id="marco-boton">
    <div id="boton">

        <img src="../../assets/images/llamada-de-emergencia.png" id="img-boton">

    </div>
</div>
<div id="texto-emergencia">
Botón de emergencia
</div>
<a [routerLink]="" (click)="logout()">
  <div class="red-button">
		<span>Cerrar Sesión</span>
	</div>
</a>


<footer>
    <div class="imgs">
        <a routerLink="/signos-vitales-button"><img src="../../assets/images/heart.png" alt="salud" id="img_footer"></a>
        <a routerLink="/medicinas"><img src="../../assets/images/pill.png" alt="salud" id="img_footer"></a>
        <a routerLink="/appointment"><img src="../../assets/images/scope.png" alt="salud" id="img_footer"></a>
        <a routerLink="/"><img src="../../assets/images/llamada-de-emergencia.png" alt="salud" id="img_footer"></a>
        <a routerLink="/resumen-usuario"><img src="../../assets/images/tabla_f.png" alt="salud" id="img_footer"></a>
        <a routerLink="/chatbot"><img src="../../assets/images/chatbot.png" alt="salud" id="img_footer"></a>
        <a routerLink="/estado-animo"><img src="../../assets/images/emotion.png" alt="salud" id="img_footer"></a>
    </div>
</footer>

</body>
<router-outlet></router-outlet>
