
<body>

<div id="ellipse_blue">


</div>
<div id="flegue_view_bienvenido">Bienvenido!</div>
<div id="marco-boton">
    <div id="boton">

        <img src="../../assets/images/llamada-de-emergencia.png" id="img-boton">

    </div>
</div>
<div id="texto-emergencia">
Botón de emergencia
</div>


<footer>
    <div class="imgs">
        <a href="signos-vitales.html"><img src="../../assets/images/heart.png" alt="salud" id="img_footer"></a>
        <a href="medicamentos.html"><img src="../../assets/images/pill.png" alt="salud" id="img_footer"></a>
        <a href="doctores.html"><img src="../../assets/images/scope.png" alt="salud" id="img_footer"></a>
        <a href="Boton_emergencia.html"><img src="../../assets/images/llamada-de-emergencia.png" alt="salud" id="img_footer"></a>
        <a href="ResumenUsuario.html"><img src="../../assets/images/tabla_f.png" alt="salud" id="img_footer"></a>
        <a href="chatbot.html"><img src="../../assets/images/chatbot.png" alt="salud" id="img_footer"></a>
        <a href="mood.html"><img src="../../assets/images/emotion.png" alt="salud" id="img_footer"></a>
    </div>
</footer>

</body>
