#ellipse_blue{
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0%;
  top: -10%;

  background: linear-gradient(180deg, #33B6FF 0%, rgba(255, 255, 255, 0) 100%), #7291FF;
  border-bottom-right-radius: 80% 50%;
  border-bottom-left-radius: 80% 50%;
}

#icon_person{

  position: absolute;
  width: 98px;
  height: 98px;
  left: 139px;
  top: 192px;

  background: url(img/persona.png);
}

#name_patient{
  position: absolute;
  width: 335px;
  height: 74px;
  left: 21px;
  top: 342px;

  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

#continue_button{
  position: absolute;
  width: 335px;
  height: 56px;
  left: 21px;
  top: 663px;

  background: #FF748F;
  border: 4px solid #FF748F;
  box-sizing: border-box;
  border-radius: 30px;
}

#flegue_title{

  position: absolute;
  width: 10%;
  height: 53px;
  left: 40%;
  top: 1%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 500%;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
#flegue_view_title{

  position: absolute;
  width: 80%;
  height: 56px;
  left: 20%;
  top: 10%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 550%;
  line-height: 100px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

#flegue_view_title_large{

  position: absolute;
  width: 80%;
  height: 56px;
  left: 10%;
  top: 10%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 550%;
  line-height: 100px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

#persona{
  position: absolute;
  width: 30%;
  /*height: 15%;*/
  left: 35%;
  top: 25%;
}
#icono_mas{
  position: absolute;
  width: 20%;
  /*height: 15%;*/
  left: 50%;
  top: 25%;
}
#icono_persona{
  position: absolute;
  width: 25%;
  /*height: 15%;*/
  left: 30%;
  top: 30%;
}

#persona_perfil{
  position: relative;
  width: 75%;
  /*height: 15%;*/
  left: 13%;
  top: 10%;

}

#circulo_azul{
  position: relative;
  width: 30%;
  height: 60%;
  top: 20%;
  left: 5%;

  background-color: #ffffff;
  border:2px solid #33B6FF;
  border-radius: 50%;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  background-size: 5%;
  border-radius: 220px;


}

#user_name{
  position: relative;
  width: 60%;
  height: 10%;
  left: 39%;
  top: -20%;

  font-family: Roboto;
  font-style: normal;
  font-weight:normal;
  font-size: 350%;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
}

#nombre_abuelitos{
  position: absolute;
  width: 80%;
  height: 10%;
  left: 10%;
  top: 45%;

  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;

}

#nombre_abuelitos2{
  position: absolute;
  width: 80%;
  height: 10%;
  left: 10%;
  top: 59%;

  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;



}

#texto_abuelitos{
  position: relative;
  width: 80%;
  height: 10%;
  left: 10%;
  top: 40%;

  font-family: Roboto;
  font-style: normal;
  font-weight:normal;
  font-size: 350%;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
}

#agregar_box{

  position: absolute;
  width: 80%;
  height: 10%;
  left: 10%;
  top: 50%;


  background: #FFFFFF;
  border: 3px solid #33B6FF;
  box-sizing: border-box;
  border-radius: 100px;

  font-family: Roboto;
  font-style: normal;
  font-weight:normal;
  font-size: 350%;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
}

#perfil_usuario{
  position: absolute;
  width: 90%;
  height: 20%;
  left: 5%;
  top: 35%;

  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 40px;


}




#continuar{
  position: absolute;
  width: 80%;
  height: 7%;
  left: 10%;
  top: 80%;

  background: #FF748F;
  border: 4px solid #FF748F;
  box-sizing: border-box;
  border-radius: 60px;

  font-family: Roboto;
  font-style: normal;
  font-weight:bold;
  font-size: 400%;
  line-height: 28px;

  color: #FFFFFF;
}









#boton{
  position: absolute;
  width: 70%;
  height: 32%;
  top: 30%;
  left: 15%;

  background-color: #fa0202;
  border:2px solid #707070;
  border-radius: 50%;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  background-size: 5%;
  border-radius: 500px;

}

#img-boton{
  position: relative;
;
  top: 10%;
  left: 11%;
}

#flegue_view_bienvenido{
  position: absolute;
  width: 60%;
  height: 56px;
  left: 25%;
  top: 10%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 550%;
  line-height: 100px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}


#texto-emergencia{
  position: absolute;
  width: 90%;
  height: 56px;
  left: 10%;
  top: 65%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 550%;
  line-height: 100px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

#ellipse_blue{
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0%;
  top: -10%;

  background: linear-gradient(180deg, #33B6FF 0%, rgba(255, 255, 255, 0) 100%), #7291FF;
  border-bottom-right-radius: 80% 50%;
  border-bottom-left-radius: 80% 50%;

  font-size: 35px;
  color:white;
}

.circle{
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 300px;
  margin-left: 34%;
}

#img_icon{
  width: 70%;
  margin-top: 10%;
}


#img_footer{
  display: inline;
  max-width: 135px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
}

.card_title{
  position: relative;
  font-weight: bold;
  font-size: 50px;
  margin-top: 100px;
}

.info{
  margin-top: 600px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-bottom: 50px;
  border: 1px solid #C4C4C4;
  border-radius: 25px
}

#section{
  font-size: 45px;
  margin-top: 50px;
}

#state, #medicine{
  width: 250px;
  height: 250px;
  margin-left: 550px;
  background-color: #88DB91;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}
#medicine{
  width: 250px;
  height: 250px;
  margin-left: 550px;
  background-color:white;


  justify-content: left;
  align-items: left;
  font-size: 50px;
  line-height: 50px;
}

.left{
  float:left;
  margin-left: 100px;
  margin-top: 100px;
}
.right{
  float:right;
  margin-right: 100px;
  top: 0;

}
#measure{
  position:absolute;
  margin-left:100px;
  margin-top: 150px;
}
