
<body>

<div id="ellipse_blue">


</div>
<div id="flegue_view_bienvenido">Bienvenido!</div>
<div id="marco-boton">
    <div id="boton">

        <img src="../../assets/images/llamada-de-emergencia.png" id="img-boton">

    </div>
</div>
<div id="texto-emergencia">
Botón de emergencia
</div>
<a  >
  <div class="red-button">
		<span>Cerrar Sesión</span>
	</div>
</a>


<footer>
    <div class="imgs">
        <a routerLink="/signos-vitales-button"><img src="../../assets/images/heart.png" alt="salud" id="img_footer"></a>
        <a routerLink="/medicinas"><img src="../../assets/images/pill.png" alt="salud" id="img_footer"></a>
        <a routerLink="/appointment"><img src="../../assets/images/scope.png" alt="salud" id="img_footer"></a>
        <a routerLink="/emergency-button"><img src="../../assets/images/llamada-de-emergencia.png" alt="salud" id="img_footer"></a>
        <a routerLink="/resumen-usuario"><img src="../../assets/images/tabla_f.png" alt="salud" id="img_footer"></a>
        <a routerLink="/chatbot"><img src="../../assets/images/chatbot.png" alt="salud" id="img_footer"></a>
        <a routerLink="/estado-animo"><img src="../../assets/images/emotion.png" alt="salud" id="img_footer"></a>
    </div>
</footer>

</body>
<router-outlet></router-outlet>
