<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>

	<div class="container">
		<div id="ellipse_blue">
            <h2 style="margin-top:100px;">flegue</h2>
        	  <h1 style="margin-top:10px;">Signos Vitales</h1>
            <div class="circle"><img src="../../../assets/images/cardiovascular.png" alt="salud" id="img_icon"></div>
    </div>

    <a routerLink="/signos-vitales-historial"><div class="red-button2">
      <h5 style="color:black;">Historial</h5>
    </div></a>

		<div class = "info">


			<div class="doc-card">
                <div class="sys">
                    <p>SYS <br> mmHg</p>
                    <div class="info-circle"
                    [style.background-color]="getColorSys(lastSign.sys)">
                        <p class="p-circle"> {{lastSign.sys}} </p>
                    </div>
                </div>
                <div class="sys">
                    <p>DYA <br> mmHg</p>
                    <div class="info-circle"
                    [style.background-color]="getColorDay(lastSign.day)">
                        <p class="p-circle">
                          {{lastSign.day}}
                        </p> </div>
                </div>
      </div>

      <div class="doc-cardss">
        <div class="sys">
            <p> PULSO <br> /min</p>
            <div class="info-circle"
            [style.background-color]="getColorPulse(lastSign.pulse)">
                <p class="p-circle">
                  {{lastSign.pulse}}
                </p> </div>
        </div>
</div>








        <img  src="../../../assets/images/Normal.png" class="normal-img" >






    </div>

		<footer>
            <div class="imgs">
              <a routerLink="/signos-vitales-button"><img src="../../assets/images/heart.png" alt="salud" id="img_footer"></a>
              <a routerLink="/medicinas"><img src="../../assets/images/pill.png" alt="salud" id="img_footer"></a>
              <a routerLink="/appointment"><img src="../../assets/images/scope.png" alt="salud" id="img_footer"></a>
              <a routerLink="/"><img src="../../assets/images/llamada-de-emergencia.png" alt="salud" id="img_footer"></a>
              <a routerLink="/resumen-usuario"><img src="../../assets/images/tabla_f.png" alt="salud" id="img_footer"></a>
              <a routerLink="/chatbot"><img src="../../assets/images/chatbot.png" alt="salud" id="img_footer"></a>
              <a routerLink="/estado-animo"><img src="../../assets/images/emotion.png" alt="salud" id="img_footer"></a>
            </div>
        </footer>




  </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<router-outlet></router-outlet>
