<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
    <div class="container">
		<div id="ellipse_blue">
            <h2 style="margin-top:100px;">flegue</h2>
              <h1 style="margin-top:10px;">Agregar Usuario</h1>
              <div class="circle"><img src="../../../assets/images/persona.png" alt="salud" id="img_icon"></div>
        </div>

        <div class="input-pos">
            <input type="text" id="agregar_box" placeholder="Nombre del usuario">
        </div>


      <div class = "info">

        <a routerLink="/select-user"><div class="red-button">
            <span>Agregar</span>
        </div></a>
        </div>

    </div>
      <footer>
        <div class="imgs">
          <a routerLink="/select-user"><img src="../../assets/images/personas.png" alt="salud" id="img_footer"></a>
        </div>
      </footer>


</body>

