<!DOCTYPE HTML>

<html>
	<head>
		<title>Información de medicamento</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body>

    <div class="container">
      <div id="ellipse_blue">
          <h2 style="margin-top:100px;" class="title">flegue</h2>
          <h1 style="margin-top:-20px; font-size:35px;" class="title">Resumen</h1>

      </div>
      <div class="info">

      <h1 class="card_title">Signos Vitales</h1>

      <div id="signos_vitales" class="card">
        <div>
            <div id="section">
                <h4 class="left">SYS</h4>
                <p id="measure">mmHg</p>

                <div class="circle" id="state">120</div>
            </div>

            <div id="section">
              <h4 class="left">DIA</h4>
              <p id="measure">mmHg</p>

              <div class="circle" id="state">70</div>
          </div>

          <div id="section">
              <h4 class="left">PULSO</h4>
              <p id="measure">/min</p>

              <div class="circle" id="state">80</div>
          </div>

        </div>
      </div>

      <h1 class="card_title">Citas</h1>

      <div id="citas" class="card">
        <div id="section" style="height: 15%; ">
            <div class="circle" style="margin-left:15px; margin-top: 15px; float:left;">
                <img src="../../../assets/images/perfildoc.jpg" alt="doc" style="border-radius: 50%; width:100%;">
            </div>
            <div class="right">
                <h4>Dr. Fernando López</h4>
                <p> Especialidad </p>
                <p>Hospital Ángeles</p>
                <p style="color: #7291FF;"> Lunes 16 de septiembre </p>
                <p style="color: #7291FF;">6:30pm</p>

            </div>
        </div>

      </div>

    <h1 class="card_title">Medicamentos</h1>

    <div id="medicamentos" class="card" style="height:40px;">
      <div id="section" style=" margin-left:-30px;">
          <h4 class="left" >8:30pm</h4>
          <div class="right">
              <p style="color: #33B6FF; ">Nombre del Medicamento</p>
              <p>Función del Medicamento</p>
          </div>
      </div>
  </div>

  <h1 class="card_title">Estado de Ánimo</h1>

  <div id="estado_animo" class="card" style="margin-bottom:170px;">
    <div id="section" style="height: 15%;">
        <div class="circle" style="margin-left:30px; float:left;">
            <img src="../../../assets/images/smile.jpg" alt="doc" style="border-radius: 50%; width:100%;">
        </div>
        <div class="right" style="margin-top: 8%;">
            <h4>Hoy me siento feliz</h4>
        </div>
    </div>
</div>






    </div>









      <footer>

          <div class="imgs">
            <a routerLink="/select-user"><img src="../../assets/images/personas.png" alt="salud" id="img_footer"></a>
          </div>
      </footer>
    </div>






	</body>
</html>
