
<body>

    <div class="container">

      <div>
          <span id="ellipse_blue"></span>
          <div class="over">
              <h2 class="logo">Flegue</h2>
              <h1 class = "title"> Ingresa Signos Vitales</h1>

          </div>
      </div>

        <div class="group">
          <img src="../../../assets/images/cardiovascular.png" alt="signosvit" class="img_inicio">

          <form  id="myForm" #signForm="ngForm" (ngSubmit)="addSign(signForm)">
              <div class="row">
                  <h2 class="subtitle"><label for="fname">SYS</label></h2>
                  <input
                    type="text"
                    id="name"
                    name="sys"
                    placeholder="SYS"
                    required
                    [(ngModel)]="signsService.selectedSign.sys">
              </div>
              <div class="row">
                  <h2 class="subtitle"><label for="subject">DIA</label></h2>
                  <input
                    type="text"
                    id="dia"
                    name="day"
                    placeholder="DIA"
                    [(ngModel)]="signsService.selectedSign.day"
                    >
              </div>
              <div class="row">
                  <h2 class="subtitle"><label for="subject">PULSO</label></h2>
                  <input
                    type="text"
                    id="place"
                    name="pulse"
                    placeholder="PULSO"
                    [(ngModel)]="signsService.selectedSign.pulse">
              </div>

              <div class="row">
                  <div class="place">
                      <button type="submit">Listo</button>
                  </div>
              </div>

          </form>

        </div>

  </div>

</body>



<router-outlet></router-outlet>
