

<body>

  <div class="container">
    

      <div>
          <span id="ellipse_blue"></span>
          <div class="over">
              <h2 class="logo">Flegue</h2>
              <h1 class = "title"> Ingresa Signos Vitales</h1>

          </div>
      </div>

        <div class="group">
          <img src="../../../assets/images/cardiovascular.png" alt="signosvit" class="img_inicio">

          <form  id="myForm" #signForm="ngForm" (ngSubmit)="addSign(signForm)">
              <div class="row">
                  <h2 class="subtitle"><label for="fname">SYS</label></h2>
                  <input
                    type="number"
                    id="name"
                    name="sys"
                    placeholder="SYS"
                    required
                    [(ngModel)]="signsService.selectedSign.sys">
              </div>
              <div class="row">
                  <h2 class="subtitle"><label for="subject">DIA</label></h2>
                  <input
                    type="number"
                    id="dia"
                    name="day"
                    placeholder="DIA"
                    required
                    [(ngModel)]="signsService.selectedSign.day"
                    >
              </div>
              <div class="row">
                  <h2 class="subtitle"><label for="subject">PULSO</label></h2>
                  <input
                    type="number"
                    id="place"
                    name="pulse"
                    placeholder="PULSO"
                    required
                    [(ngModel)]="signsService.selectedSign.pulse">
              </div>

              <div class="row">
                  <div class="place">
                      <button type="submit">Listo</button>
                  </div>
              </div>

          </form>

        </div>

  </div>

  <footer>
    <div class="imgs icono1">
      <a routerLink="/signos-vitales-button"><img src="../../assets/images/heart.png" alt="salud" id="img_footer"></a>
      <a routerLink="/medicinas"><img src="../../assets/images/pill.png" alt="salud" id="img_footer"></a>
      <a routerLink="/appointment"><img src="../../assets/images/scope.png" alt="salud" id="img_footer"></a>
      <a class= "icono1" routerLink="/"><img src="../../assets/images/llamada-de-emergencia.png" alt="salud" id="img_footer" ></a>
      <a routerLink="/resumen-usuario"><img src="../../assets/images/tabla_f.png" alt="salud" id="img_footer"></a>
      <a routerLink="/chatbot"><img src="../../assets/images/chatbot.png" alt="salud" id="img_footer"></a>
      <a routerLink="/estado-animo"><img src="../../assets/images/emotion.png" alt="salud" id="img_footer"></a>
    </div>
</footer>
</body>



<router-outlet></router-outlet>
