body{
	height: 100%;
}
html {
    height: 100%;
}

#ellipse_blue{
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0%;
  top: -10%;

  background: linear-gradient(180deg, #33B6FF 0%, rgba(255, 255, 255, 0) 100%), #7291FF;
  border-bottom-right-radius: 80% 50%;
  border-bottom-left-radius: 80% 50%;

  font-size: 35px;
  color:white;
}

.circle{
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100px;
  height: 100px;
  margin-left: 35%;
}

#img_icon{
  width: 70%;
  margin-top: 10%;
}


#img_footer{
  display: inline;
  max-width: 135px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
}

.card_title{
  position: relative;
  font-weight: bold;
  font-size: 50px;
  margin-top: 100px;
}

.info{
  margin-top: 220px;
  margin-left:-20px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding-bottom: 50px;
  border: 1px solid #C4C4C4;
  border-radius: 25px
}






.left{
  float:left;
  margin-left: 100px;
  margin-top: 100px;
}
.right{
  float:right;
  margin-right: 100px;
  top: 0;

}


.title{
  text-align: center;
  font-size: 40px;
  margin-top: 55px;
  color: #33B6FF;
}
.subtitle{
  text-align: center;
  color: #0b6ae6;
  font-size: 30px;
}
.place{
  text-align: center;
  margin-top: 25px;
  margin-left: 15%;
}
.cuenta{
  font-size: 25px;
  color: #9E9292;
}
.img_inicio{
  width: 50%;
}
input[type=text],input[type=tel],input[type=email],input[type=password], select{
    width: 80%;
    height: 9%;
    padding: 20px;
    resize: vertical;
    font-size: 25px;
    background: #FFFFFF;
    border: 1px solid #33B6FF;
    box-sizing: border-box;
    border-radius: 30px;
  }

  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  /* Style the submit button */
  button[type=submit] {
    width: 80%;
    height: 5%;
    background-color: #FF748F;
    color: white;
    padding: 12px 30px;
    border: none;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    float: left;
    font-size: 25px;
  }

  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    line-height: 21px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;

  }
  .row{
    margin-top: 50px;
  }



  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    button[type=submit] {
      width: 100%;
      margin-top: 0px;
    }
  }

  .title{
  text-align: center;
  font-size: 40px;
  margin-top: 55px;
  color: #33B6FF;
}
.subtitle{
  text-align: center;
  color: #0b6ae6;
  font-size: 30px;
}
.place{
  text-align: center;
  margin-top: 25px;
  margin-left: 15%;
}
.cuenta{
  font-size: 25px;
  color: #9E9292;
}
.img_inicio{
  width: 50%;
}
input[type=text],input[type=tel],input[type=email],input[type=password], select{
    width: 80%;
    height: 9%;
    padding: 20px;
    resize: vertical;
    font-size: 25px;
    background: #FFFFFF;
    border: 1px solid #33B6FF;
    box-sizing: border-box;
    border-radius: 30px;
  }

  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  /* Style the submit button */
  button[type=submit] {
    width: 80%;
    height: 5%;
    background-color: #FF748F;
    color: white;
    padding: 12px 30px;
    border: none;
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
    float: left;
    font-size: 25px;
  }


  * {
    /*overflow-x: hidden;*/
    /*padding: 0px !important;
    margin: 0px !important;*/
  }


  .img-med {
    width: 143px;
    height: 142px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 135px;
    left: 121px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .red-button {
    width: 100%;
    min-height: 75px;
    background: rgba(255,116,143,1);
    color: rgba(255,255,255,1);
    font-family: Roboto;
    font-weight: Bold;
    font-size: 45px;
    opacity: 1;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    border: 4px solid rgba(255,116,143,1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    line-height: 60px;
  }
  .gran-card{
    max-width: 335px;
    min-height: 65px;

    background: rgba(255,255,255,1);
    opacity: 1;
    min-width: 100%;
    margin:auto;
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid rgba(196,196,196,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
    overflow: hidden;
    line-height: 100px;
  }

  .gran-card img{
    margin-left: 70px;
  }

  .doc-card {
    width: 100%;
    background: rgba(255,255,255,1);
    opacity: 1;
    margin:auto;
    border: 1px solid rgba(196,196,196,1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30000001192092896);
    overflow: hidden;
    line-height: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
  }


  .doc-name {
    width: 183px;
    color: rgba(0,0,0,1);
    margin-left: 10%;
    top: 395px;
    left: 131px;
    font-family: Roboto;
    font-weight: Bold;
    opacity: 1;
    text-align: center;
  }


  .user-img {
    width: 87px;
    height: 87px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 165px;
    left: 150px;
    overflow: hidden;
  }
  .view {
    margin: auto;
    max-width: 375px;
    width: 100%;
    min-height: 812px;
    height: 100%;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .top{
    height: 35%;
    margin: auto;
  }
  .mid-card{
    margin:auto;
  }
  .bot{
    width: 100%;
    display: inline-block;
    height: 7%;
    margin:auto;
  }
  .mid{
    margin: auto;
    overflow-y: scroll;
    height: 58%
  }

  .title {
    width: 200px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 16px;
    left: 85px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .page {
    width: 216px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 69px;
    left: 84px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
  }
  .white-circle {
    width: 143px;
    height: 142px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 137px;
    left: 122px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .title-img {
    width: 87px;
    height: 87px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 165px;
    left: 150px;
    overflow: hidden;
  }
  .menu{
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
    max-width: 15%;
    margin: auto;
  }
