

<body>
  <p>appointment-form-edit works!</p>
  <div class="container">

    <div>
        <span id="ellipse_blue"></span>
        <div class="over">
            <h2 class="logo">flegue</h2>
            <h1 class = "title"> Crear cita </h1>

        </div>
    </div>

      <div class="group">
        <img src="../../assets/images/lapiz.png" alt="mas" class="img_inicio">

        <form>
            <div class="row">
                <h2 class="subtitle"><label for="fname">Nombre del doctor</label></h2>
                <input type="text" id="fname" name="name" placeholder="Nombre del doctor" required>
            </div>
            <div class="row">
                <h2 class="subtitle"><label for="subject">Especialidad</label></h2>
                <input type="text" id="fname" name="especiality" placeholder="Especialidad">
            </div>
            <div class="row">
                <h2 class="subtitle"><label for="subject">Lugar</label></h2>
                <input type="text" id="fname" name="place" placeholder="Lugar">
            </div>
            <div class="row">
                <h2 class="subtitle"><label for="subject">Fecha y hora</label></h2>
                <input type="text" id="fname" name="date" placeholder="Fecha y hora">
            </div>
            <div class="row">
                <div class="place">
                    <button type="submit" [routerLink]="'/appointment-show'"> Editar </button>
                </div>
            </div>

        </form>

      </div>

</div>
</body>
