<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Document</title>
</head>
<body>

	<div class="container">
		<div id="ellipse_blue">
            <h2 style="margin-top:100px;">flegue</h2>
        	  <h1 style="margin-top:10px;">Selecciona usuario</h1>
            <div class="circle"><img src="../../../assets/images/persona.png" alt="salud" id="img_icon"></div>
    </div>

    <div class="ghost">

    </div>



			<a href="medicamentoindividual.html">
			<div class="doc-card">
				<p>Nombre de abuelito</p>
      </div></a>
      <a href="medicamentoindividual.html">
        <div class="doc-card">
          <p>Nombre de abuelito</p>
        </div></a>
        <a href="medicamentoindividual.html">
          <div class="doc-card">
            <p>Nombre de abuelito</p>
          </div></a>
          <a href="medicamentoindividual.html">
            <div class="doc-card">
              <p>Nombre de abuelito</p>
            </div></a>

      <div class = "info">
        <a href="createMedicine.html"><div class="red-button">
          <span>Continuar</span>
        </div></a>




    </div>

		<footer>
            <div>
                <a href="signos-vitales.html"><img src="../../assets/images/heart.png" alt="salud" id="img_footer"></a>
				<a href="medicamentos.html"><img src="../../assets/images/pill.png" alt="salud" id="img_footer"></a>
				<a href="doctores.html"><img src="../../assets/images/scope.png" alt="salud" id="img_footer"></a>
				<a href="Boton_emergencia.html"><img src="../../assets/images/llamada-de-emergencia.png" alt="salud" id="img_footer"></a>
				<a href="ResumenUsuario.html"><img src="../../assets/images/tabla_f.png" alt="salud" id="img_footer"></a>
				<a href="chatbot.html"><img src="../../assets/images/chatbot.png" alt="salud" id="img_footer"></a>
				<a href="mood.html"><img src="../../assets/images/emotion.png" alt="salud" id="img_footer"></a>
            </div>
    </footer>




  </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
