
<body>
  <section>
      <div>
          <h2>Flegue</h2>
      </div>
      <div>

              <img src="../../assets/images/seguro-de-salud.png" alt="">

      </div>

          <a class="tag" routerLink="/login" routerLinkActive="active">Iniciar Sesión</a>

      <div>
          <p>¿Aun no tienes cuenta?</p>

          <h3>
              <a routerLink="/register" routerLinkActive="active">
                  Registrate

              </a>
          </h3>
      </div>
  </section>
</body>
<router-outlet></router-outlet>
