
<body>
  <div class="container">
    <h1 class = "title"> Registrate </h1>
    <form>
        <div class="row">
            <h2 class="subtitle"><label for="fname">Nombre</label></h2>
            <input type="text" id="fname" name="nombre" placeholder="Nombre" required #nombre>
        </div>
        <div class="row">
            <h2 class="subtitle"><label for="lname">Rol</label></h2>
            <select id="rol" name="rol" required #rol>
                <option value="Seleccionar">--Seleccionar--</option>
                <option value="adultoMayor">Aduto Mayor</option>
                <option value="cuidador">Cuidador</option>
            </select>
        </div>
        <div class="row">
            <h2 class="subtitle"><label for="country">Teléfono</label></h2>
            <input type="tel" id="phone" name="phone" pattern = "[0-9]{10}" placeholder="Teléfono" #phone>
        </div>
        <div class="row">
            <h2 class="subtitle"><label for="subject">E-mail</label></h2>
            <input type="email" id="email" name="email" placeholder="e-mail" #email>
        </div>
        <div class="row">
            <h2 class="subtitle"><label for="subject">Contraseña</label></h2>
            <input type="password" id="pwd" name="pwd" placeholder="Contraseña" #password>
        </div>
        <div class="row">
            <div class="place">
                <button type="submit" (click)="onSignup($event, email.value, password.value, phone.value, rol.value, nombre.value)">Iniciar Sesión</button>

            </div>
        </div>
        <div class="row">
            <p class="cuenta">¿Ya tienes una cuenta? <a routerLink="/login" >Inicia Sesión</a></p>
            <a routerLink="/select-user" >Abuelito</a>
        </div>
    </form>
</div>
</body>
