<!DOCTYPE HTML>

<html>
	<head>
		<title>Información de medicamento</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body>

    <div class="container">
      <div id="ellipse_blue">
          <h2 style="margin-top:100px;" class="title">flegue</h2>
          <h1 style="margin-top:-20px; font-size:35px;" class="title">Información de medicamento</h1>

      </div>

      <div id="ghost">

			</div>

      <div id="main">
				<button class="button1 editar" routerLink="/medicinas-edit/{{medicine.id}}" >Editar</button>
				<button class="button1 eliminar" (click)="deleteMedicine(medicine.id)">Eliminar</button>

				<div id="box1">
					<div id="info1">
						<h1>{{medicine.time}}</h1>
						<h5 style="font-weight: normal;">Cada 24 horas</h5>
					</div>
					<div id="info2">
						<h2 id="nombre">{{medicine.name}}</h2>
						<h5 style="font-weight: normal;">{{medicine.function}}</h5>
					</div>
        </div>
        <div>

          <div id="box2">
            <div id="boxIcon" style="margin-right: 60px; margin-top: 20px;">
              <button style="border: none; background-color: transparent; display: block; margin-right: 50px; margin: auto;"
              (click)="medicineCompleted(medicine.id)">
                <img src="../../../assets/images/check.svg" alt="">
              </button>
              <h5 style="font-weight: normal;">Tome</h5>
            </div>

            <div id="boxIcon">
              <button style="border: none; background-color: transparent; display: block; margin: auto; margin-top: 20px;">
                <img src="../../../assets/images/cross.svg" alt=""
                (click)="medicineMissing(medicine.id)">
              </button>
              <h5 style="font-weight: normal;">No tome</h5>
            </div>
          </div>


      </div>


			</div>



      <footer>
          <div class="imgs">
            <a routerLink="/signos-vitales-button"><img src="../../assets/images/heart.png" alt="salud" id="img_footer"></a>
            <a routerLink="/medicinas"><img src="../../assets/images/pill.png" alt="salud" id="img_footer"></a>
            <a routerLink="/appointment"><img src="../../assets/images/scope.png" alt="salud" id="img_footer"></a>
            <a routerLink="/"><img src="../../assets/images/llamada-de-emergencia.png" alt="salud" id="img_footer"></a>
            <a routerLink="/resumen-usuario"><img src="../../assets/images/tabla_f.png" alt="salud" id="img_footer"></a>
            <a routerLink="/chatbot"><img src="../../assets/images/chatbot.png" alt="salud" id="img_footer"></a>
            <a routerLink="/estado-animo"><img src="../../assets/images/emotion.png" alt="salud" id="img_footer"></a>
          </div>
      </footer>
    </div>






	</body>
</html>
