
<body>

  <div class="container">
    <div id="ellipse_blue">
        <h2 style="margin-top:100px;">Flegue</h2>
        <h1>Estado de ánimo</h1>
        <div class="circle"><img src="../../assets/images/felicidad.png" alt="salud" id="img_icon"></div>
    </div>
      <div class="info">
        <form #feelingForm="ngForm" (ngSubmit)="addFeeling(feelingForm)">
          <div id="signos_vitales" class="card">
              <div id="section">
                <input
                  type="radio"
                  id="feliz"
                  name="feeling"
                  value="feliz"
                  [(ngModel)]="feelingsService.selectedFeeling.feeling">
                  <p id="measure">Hoy me siento feliz</p>
                  <div class="" id="state">
                      <img src="../../assets/images/sonreir.png" alt="salud" id="img_icon">
                  </div>
              </div>
          </div>
          <div id="signos_vitales" class="card">
              <div id="section">
                  <input
                    type="radio"
                    id="feliz"
                    name="feeling"
                    value="triste"
                    [(ngModel)]="feelingsService.selectedFeeling.feeling">


                  <p id="measure">Hoy me siento triste</p>
                  <div class="" id="state">
                      <img src="../../assets/images/triste.png" alt="salud" id="img_icon">
                  </div>
              </div>
          </div>
          <div id="signos_vitales" class="card">
              <div id="section">
                <input
                  type="radio"
                  id="feliz"
                  name="feeling"
                  value="irritado"
                  [(ngModel)]="feelingsService.selectedFeeling.feeling">

                  <p id="measure">Hoy me siento irritado</p>
                  <div class="" id="state">
                      <img src="../../assets/images/grave.png" alt="salud" id="img_icon">
                  </div>
              </div>
          </div>

          <div class="row">
            <div class="place">
                <input type="submit" value="Registrar">
            </div>
          </div>
        </form>
      </div>
  </div>

  <footer>
      <div class="imgs">
        <a routerLink="/signos-vitales-button"><img src="../../assets/images/heart.png" alt="salud" id="img_footer"></a>
        <a routerLink="/medicinas"><img src="../../assets/images/pill.png" alt="salud" id="img_footer"></a>
        <a routerLink="/appointment"><img src="../../assets/images/scope.png" alt="salud" id="img_footer"></a>
        <a routerLink="/"><img src="../../assets/images/llamada-de-emergencia.png" alt="salud" id="img_footer"></a>
        <a routerLink="/resumen-usuario"><img src="../../assets/images/tabla_f.png" alt="salud" id="img_footer"></a>
        <a routerLink="/chatbot"><img src="../../assets/images/chatbot.png" alt="salud" id="img_footer"></a>
        <a routerLink="/estado-animo"><img src="../../assets/images/emotion.png" alt="salud" id="img_footer"></a>
      </div>
  </footer>
</body>
<router-outlet></router-outlet>
