
<body>
  <p>estado-de-animo works!</p>
  <div class="container">
    <div id="ellipse_blue">
        <h2 style="margin-top:280px;">Flegue</h2>
        <h1 style="margin-top:100px;">Estado de ánimo</h1>
        <div class="circle"><img src="img/felicidad.png" alt="salud" id="img_icon"></div>
    </div>
    <div class="info">
      <div id="signos_vitales" class="card">
          <div id="section">
              <p id="measure">Hoy me siento feliz</p>
              <div class="" id="state">
                  <img src="img/sonreir.png" alt="salud" id="img_icon">
              </div>
          </div>
      </div>
      <div id="signos_vitales" class="card">
          <div id="section">
              <p id="measure">Hoy me siento triste</p>
              <div class="" id="state">
                  <img src="img/triste.png" alt="salud" id="img_icon">
              </div>
          </div>
      </div>
      <div id="signos_vitales" class="card">
          <div id="section">
              <p id="measure">Hoy me siento irritado</p>
              <div class="" id="state">
                  <img src="img/grave.png" alt="salud" id="img_icon">
              </div>
          </div>
      </div>

      <div class="row">
          <div class="place">
              <input type="submit" value="Registrar">
          </div>
      </div>
    </div>
  </div>

  <footer>
      <div class="imgs">
        <a href="signos-vitales.html"><img src="img/heart.png" alt="salud" id="img_footer"></a>
        <a href="medicamentos.html"><img src="img/pill.png" alt="salud" id="img_footer"></a>
        <a href="doctores.html"><img src="img/scope.png" alt="salud" id="img_footer"></a>
        <a href="Boton_emergencia.html"><img src="img/llamada-de-emergencia.png" alt="salud" id="img_footer"></a>
        <a href="ResumenUsuario.html"><img src="img/tabla_f.png" alt="salud" id="img_footer"></a>
        <a href="chatbot.html"><img src="img/chatbot.png" alt="salud" id="img_footer"></a>
        <a href="mood.html"><img src="img/emotion.png" alt="salud" id="img_footer"></a>
      </div>
  </footer>
</body>
