
<body>
    <div class="container">
      <h1 class = "title"> Inicia Sesión </h1>
        <img src="../../assets/images/vision.png" alt="lentes" class="img_inicio">
      <form>
          <div class="row">
              <h2 class="subtitle"><label for="subject">E-mail o Teléfono</label></h2>
              <input type="email" id="email" name="email" placeholder="e-mail" #email>
          </div>
          <div class="row">
              <h2 class="subtitle"><label for="subject">Contraseña</label></h2>
              <input type="password" id="pwd" name="pwd" placeholder="Contraseña" #password>
          </div>
          <div class="row">
              <div class="place">
                  <button type="submit" (click)="onSignin($event, email.value, password.value)">Iniciar Sesión</button>
              </div>
          </div>
          <div class="row">
              <p class="cuenta">¿No tienes una cuenta? <a routerLink="/register" routerLinkActive="active">Registrate</a></p>
          </div>
      </form>
  </div>
</body>
